@keyframes imgBombHeader {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }

  @keyframes number10 {
    0% {
      color: (var--secondary-color);
    }
  
    50% {
      color: yellow;
    }
  
    100% {
      color: (var--secondary-color);
    }
  }

  /* ANIMATIONS */

@keyframes sparks {
    0% {
      margin-top: 20vh;
    }
  
    50% {
      margin-top: 32vh;
      opacity: 1;
    }
  
    51% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes boom {
    50% {
      width: 20vh;
      height: 20vh;
    }
  
    60% {
      width: 18vh;
      height: 18vh;
      margin-top: 40vh;
    }
  
    63% {
      margin-top: 44vh;
    }
  
    66% {
      margin-top: 40vh;
    }
  
    69% {
      margin-top: 45vh;
    }
  
    73% {
      margin-top: 40vh;
    }
  
    76% {
      margin-top: 44vh;
    }
  
    79% {
      margin-top: 40vh;
    }
  
    90% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fuse {
    0% {
      height: 10vh;
      margin-top: 32vh;
    }
  
    50% {
      height: 1vh;
      margin-top: 42vh;
      opacity: 1;
    }
  
    51% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes body {
    65% {
      background-color: black;
    }
  
    100% {
      background-color: #432920;
    }
  }
  
  @keyframes gameover {
    80% {
      opacity: 0;
      width: 45vw;
    }
  
    100% {
      opacity: 1;
      width: 65vw;
    }
  }

/* Wireframe 3 */
  
@keyframes downCounter {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(7);
    }
  
    100% {
      transform: scale(0);
    }
  }

/* Wireframe 4 */

  @keyframes blinking {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  